<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        {% css_asset_tag global %}
        - /_assets/default.sass
        {% endcss_asset_tag %}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">Demonic.me</a></h1>
            <a class="extra" href="/">Blog</a>
            <a class="extra" href="/cv.html">CV</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                {{ site.data.my_details.me.firstname }} {{ site.data.my_details.me.lastname }}<br />
                {{ site.data.my_details.employment[0].job }}<br />
                {{ site.data.my_details.me.email }}
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/{{ site.data.my_details.me.github }}">github.com/{{ site.data.my_details.me.github }}</a><br />
                <a href="https://twitter.com/{{ site.data.my_details.me.twitter }}">twitter.com/{{ site.data.my_details.me.twitter }}</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
